{% extends "base.html" %}
{% block title %}{{ topic_title }} - {{ group_title }} - {{ section_title }}{% endblock %}
{% block head_extra %}
<script type="text/javascript">
  $script('/js/add-form.js');
</script>
{% endblock %}
{% block content %}
<div class=messages>
  {{ topic_card_html|safe }}
</div>

<h2><a name=rep>Добавить сообщение:</a></h2>
<font size=2><strong>Внимание!</strong> Перед написанием комментария ознакомьтесь с
<a href="/help/rules.md">правилами</a> сайта.</font><p>

<form id="commentForm" action="/add_comment.jsp" method="post">
  <input type="hidden" name="csrf" value="{{ csrf_token }}">
  {% if anonymous_form %}
  <div class="control-group">
    <label for="nick">Имя</label>
    <input id="nick" type="text" name="nick" value="anonymous">
  </div>
  <div class="control-group">
    <label for="password">Пароль:</label>
    <input id="password" type="password" name="password">
  </div>
  <div class="help-block">{{ postscore_info_html|safe }}</div>
  {% endif %}

  <input type="hidden" name="topic" value="{{ topic_id }}">

  <div class="warning-block" id="author-readonly-note"></div>

  <div class="control-group" data-format-mode="{{ format_mode }}">
    <div class="markup-tabs">
      <ul class="markup-tabs__nav">
        <li class="markup-tabs__tab active" data-tab="editor">{{ format_title }}</li>
      </ul>
      <div class="markup-tabs__content">
        <div class="markup-tabs__panel active" data-panel="editor">
          <textarea id="msg" required name="msg" autofocus>{{ form_msg }}</textarea>
        </div>
      </div>
    </div>
    <div class="help-block">Пустая строка (два раза Enter) начинает новый абзац.
      Знак '&gt;' в начале абзаца выделяет абзац курсивом цитирования.<br>
      {% if format_mode == "lorcode" %}<b>Внимание:</b> прочитайте описание разметки <a href="/help/lorcode.md" target="_blank">LORCODE</a>.{% endif %}
      {% if format_mode == "markdown" %}<b>Внимание:</b> прочитайте описание разметки <a target="_blank" href="/help/markdown.md">Markdown</a>.{% endif %}
    </div>
  </div>

  <div class="help-block">
    {% if require_captcha %}<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <div class="h-captcha" data-sitekey="{{ captcha_site_key }}"></div>{% endif %}
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Поместить</button>
    <button type="submit" name="preview" class="btn btn-default">Предпросмотр</button>
    <div class="help-block">Используйте Ctrl-Enter для размещения комментария</div>
  </div>
</form>
{% endblock %}
