{% extends "base.html" %}
{% block title %}Изменить комментарий{% endblock %}
{% block content %}
{% match preview_html %}{% when Some with (html) %}<h1>Предпросмотр</h1><div class="messages"><article class="msg"><div class="msg-container"><div class="msg_body"><div class="msg-text">{{ html|safe }}</div></div></div></article></div>{% when None %}{% endmatch %}
<h1>Изменить комментарий</h1>
<p><a href="{{ topic_url }}?cid={{ comment_id }}">Комментарий</a> написан <time data-format="default" datetime="{{ postdate.to_rfc3339() }}">{{ postdate }}</time>. Редактирование возможно до <time data-format="default" datetime="{{ deadline.to_rfc3339() }}">{{ deadline }}</time>.</p>
{% match form_error %}{% when Some with (error) %}<div class="error">{{ error }}</div>{% when None %}{% endmatch %}
<form method="post" action="/edit_comment" class="form wide" id="commentForm">
  <input type="hidden" name="csrf" value="{{ csrf_token }}">
  <input type="hidden" name="topic" value="{{ topic_id }}">
  <input type="hidden" name="original" value="{{ comment_id }}">
  {% if !title.is_empty() %}<input type="hidden" name="title" value="{{ title }}">{% endif %}
  <div class="control-group" data-format-mode="{{ format_mode }}">
    <div class="markup-tabs"><ul class="markup-tabs__nav"><li class="markup-tabs__tab active" data-tab="editor">{{ format_title }}</li></ul><div class="markup-tabs__content"><div class="markup-tabs__panel active" data-panel="editor"><textarea id="msg" name="msg" required autofocus>{{ msg }}</textarea></div></div></div>
  </div>
  {% if require_captcha %}<div class="help-block"><script src="https://js.hcaptcha.com/1/api.js" async defer></script><div class="h-captcha" data-sitekey="{{ captcha_site_key }}"></div></div>{% endif %}
  <div class="form-actions"><button class="btn btn-primary" type="submit">Поместить</button><button class="btn btn-default" type="submit" name="preview">Предпросмотр</button><a class="btn btn-default" href="{{ topic_url }}?cid={{ comment_id }}">Отменить</a></div>
</form>
{% endblock %}
