{% extends "base.html" %}
{% block title %}Ошибка: {{ title }}{% endblock %}
{% block content %}
<h1>{{ message }}</h1>
{% if bBadParameter %}
Скрипту, генерирующему страничку были переданы некорректные
параметры. Если на эту страничку вас привела одна из
страниц нашего сайта, пожалуйста сообщите нам адреса текущей и ссылающейся страниц.
{% else if bInternal %}
К сожалению, произошла исключительная ситуация при генерации страницы.
<br>
<br>
<b>Произошла непредвиденная ошибка. Администраторы получили об этом сигнал.</b>
{% endif %}
{% endblock %}
