<h2><a href="/gallery/">Галерея</a></h2>

<div class="boxlet_content boxlet-gallery">
  {% for item in items %}
  <div style="margin-bottom: 1em">
    <div style="position: relative; padding-bottom: {{ item.sImagePaddingPercent }}%; margin: 0">
      <a href="{{ item.sLink }}" style="position: absolute">
        <img sizes="(min-width: 70em) 24vw, (min-width: 47em) 50vw, 100vw"
             srcset="{{ item.sImageSrcset }}"
             src="{{ item.sImageMedium }}"
             alt="{{ item.sAltTitle }}"
             width={{ item.iImageWidth }} height={{ item.iImageHeight }}
             loading="lazy">
      </a>
    </div>

    <a href="{{ item.sLink }}">{{ item.sTitle }}</a> от {{ item.sUserNick }} ({{ item.iStat }})
  </div>
  {% endfor %}

  <a href="/gallery/">другие скриншоты...</a>
</div>
