{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>Технический форум</h1>
<ul>
{% for g in groups %}
  <li><a class="navLink" href="/forum/{{ g.urlname }}">{{ g.title }}</a> ({{ g.topics }} тем){% match g.info %}{% when Some with (info) %} — <em>{{ info }}</em>{% when None %}{% endmatch %}</li>
{% endfor %}
</ul>
<h1>Лента форума</h1>
<ul><li><a href="/forum/lenta">Полная лента форума</a></li><li><a href="/forum/lenta?filter=tech">Лента технического форума</a></li><li><a href="/forum/lenta?filter=notalks">Лента форума без Talks</a></li></ul>
<h1>RSS подписки</h1><p><i class="icon-rss"></i><a href="/section-rss.jsp?section=2">RSS-подписка на весь форум</a></p>
{% endblock %}
