{% extends "base.html" %}
{% block title %}История изменений{% endblock %}
{% block head_extra %}
<meta name="robots" content="noindex">
<script>
  $script.ready("jquery", function() {
    $script('/js/diff_match_patch.js', function() {
      $script('/js/lor_view_diff_history.js');
    });
  });
</script>
{% endblock %}
{% block content %}
<h1>История изменений</h1>
<div id="historyButtonBar"></div>
<div class="messages">
{% for edit in histories %}
  <p>
    {% if edit.bOriginal %}Исходная версия{% else %}Исправление{% endif %}
    <a href="/people/{{ edit.sEditor }}/profile">{{ edit.sEditor }}</a>, <time data-format="interval" datetime="{{ edit.dtEdit.to_rfc3339() }}">{{ edit.dtEdit }}</time>
    {% match edit.optRestoreFrom %}{% when Some with (record_id) %}{% if can_restore %}
      [<a href="/edit.jsp?msgid={{ topic_id }}&amp;fromHistory={{ record_id }}">Восстановить текст</a>]
    {% endif %}{% when None %}{% endmatch %}
    {% if edit.bCurrent %}(текущая версия){% endif %}:
  </p>
  <div class="msg">
    <div class="msg-container">
      <div class="msg_header"><h2>{{ edit.sTitle }}</h2></div>
      <div class="msg_body">
        {% if edit.vecAddedImages.len() > 0 %}{% if !edit.bOriginal %}<p>Добавлены изображения:</p>{% endif %}{% for id in edit.vecAddedImages %}<a href="/images/{{ id }}/1000px.jpg"><img class="medium-image" src="/images/{{ id }}/1000px.jpg" srcset="/images/{{ id }}/500px.jpg 500w, /images/{{ id }}/1000px.jpg 1000w, /images/{{ id }}/1500px.jpg 1500w, /images/{{ id }}/2000px.jpg 2000w" sizes="100vw" alt="additional image"></a>{% endfor %}{% endif %}
        {% if edit.vecAddedMainImages.len() > 0 %}<p>Основное изображение добавлено:</p>{% for id in edit.vecAddedMainImages %}<img class="medium-image" src="/images/{{ id }}/1000px.jpg" srcset="/images/{{ id }}/500px.jpg 500w, /images/{{ id }}/1000px.jpg 1000w, /images/{{ id }}/1500px.jpg 1500w, /images/{{ id }}/2000px.jpg 2000w" sizes="100vw" alt="main image">{% endfor %}{% endif %}
        {% if edit.vecRemovedImages.len() > 0 %}<p>Удалены изображения:</p>{% for id in edit.vecRemovedImages %}<img class="medium-image" src="/images/{{ id }}/1000px.jpg" srcset="/images/{{ id }}/500px.jpg 500w, /images/{{ id }}/1000px.jpg 1000w, /images/{{ id }}/1500px.jpg 1500w, /images/{{ id }}/2000px.jpg 2000w" sizes="100vw" alt="additional image">{% endfor %}{% endif %}
        {% if edit.vecRemovedMainImages.len() > 0 %}<p>Удалено основное изображение:</p>{% for id in edit.vecRemovedMainImages %}<img class="medium-image" src="/images/{{ id }}/1000px.jpg" srcset="/images/{{ id }}/500px.jpg 500w, /images/{{ id }}/1000px.jpg 1000w, /images/{{ id }}/1500px.jpg 1500w, /images/{{ id }}/2000px.jpg 2000w" sizes="100vw" alt="main image">{% endfor %}{% endif %}
        {% match edit.optMessageHtml %}{% when Some with (message) %}{{ message|safe }}{% when None %}{% endmatch %}
        {% match edit.optPoll %}{% when Some with (poll) %}<div class="poll-uncommited">{% for variant in poll.vecVariants %}<div class="{% if poll.bMultiSelect %}checkbox{% else %}radio{% endif %}"><label><input type="{% if poll.bMultiSelect %}checkbox{% else %}radio{% endif %}" disabled> {{ variant }}</label></div>{% endfor %}</div>{% when None %}{% endmatch %}
      </div>
      <div class="msg_footer">
        {% if edit.bHasLink() %}<p>&gt;&gt;&gt; <a href="{{ edit.sLinkUrl() }}">{{ edit.sLinkText() }}</a></p>{% endif %}
        {% match edit.optTags %}{% when Some with (tags) %}<p class="tags">{% for tag in tags %}<a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</p>{% when None %}{% endmatch %}
        {% match edit.optMinor %}{% when Some with (minor) %}<em>Мини-новость: {{ minor }}</em>{% when None %}{% endmatch %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
