{% extends "base.html" %}
{% block title %}Сбросить пароль{% endblock %}
{% block content %}
<h1>Получить забытый пароль</h1>
<form method="post" action="/reset-password">
  <input type="hidden" name="csrf" value="{{ csrf_token }}">
  {% match error %}{% when Some with (message) %}<div class="error"><strong>Ошибка!</strong> {{ message }}</div>{% when None %}{% endmatch %}
  <label>Логин: <input type="text" name="nick" size="40" required><br></label>
  <label>Код: <input type="text" name="code" size="40" required><br></label>
  <button type="submit">Сбросить</button>
</form>
{% endblock %}
