{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1><i class="icon-tag"></i> {{ title }}</h1>
<div class="infoblock" style="font-size: medium">
  <div class="fav-buttons">
    {% if show_favorite_button %}<form method="post" action="/user-filter/favorite-tag"><input type="hidden" name="csrf" value="{{ csrf_token }}"><input type="hidden" name="tagName" value="{{ tag }}"><input type="hidden" name="add" value="1"><button id="tagFavAdd" title="В избранное"><i class="icon-bell"></i></button></form>{% endif %}
    {% if show_unfavorite_button %}<form method="post" action="/user-filter/favorite-tag"><input type="hidden" name="csrf" value="{{ csrf_token }}"><input type="hidden" name="tagName" value="{{ tag }}"><input type="hidden" name="del" value="1"><button id="tagFavAdd" class="selected" title="Удалить из избранного"><i class="icon-bell"></i></button></form>{% endif %}
    <br>
    {% if show_ignore_button %}<form method="post" action="/user-filter/ignore-tag"><input type="hidden" name="csrf" value="{{ csrf_token }}"><input type="hidden" name="tagName" value="{{ tag }}"><input type="hidden" name="add" value="1"><button id="tagIgnore" title="Игнорировать"><i class="icon-eye-with-line"></i></button></form>{% endif %}
    {% if show_unignore_button %}<form method="post" action="/user-filter/ignore-tag"><input type="hidden" name="csrf" value="{{ csrf_token }}"><input type="hidden" name="tagName" value="{{ tag }}"><input type="hidden" name="del" value="1"><button id="tagIgnore" class="selected" title="Перестать игнорировать"><i class="icon-eye-with-line"></i></button></form>{% endif %}
  </div>
  <p>Всего сообщений: {{ counter }}</p>
  {% if synonyms.len() > 0 %}Синонимы: <span class="tags">{% for s in synonyms %}<a class="tag" href="/tag/{{ s }}">{{ s }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</span>{% endif %}
  {% if show_delete %}[<a href="/tags/change?tagName={{ tag }}">Переименовать тег</a>] [<a href="/tags/delete?tagName={{ tag }}">Удалить тег</a>]{% endif %}
</div>

{% for group in sections %}
<section>
  <h2><a href="/{{ group.section_prefix }}/">{{ group.section_name }}</a></h2>
  <div {% if group.section_prefix == "forum" %}id="tag-page-forum"{% else if group.section_prefix == "news" %}id="tag-page-news"{% else if group.section_prefix == "polls" %}id="tag-page-polls"{% else if group.section_prefix == "articles" %}id="tag-page-articles"{% endif %}>
    <section><h3>{{ group.section_name }}</h3><ul>
    {% for t in group.topics %}<li><span class="group-label">{{ t.group_title }}</span> <a href="{{ t.topic_url() }}">{{ t.title }}</a>{% if t.comments > 0 %} ({{ t.comments }}){% endif %}</li>{% endfor %}
    </ul></section>
  </div>
</section>
{% endfor %}
{% endblock %}
