{% extends "base.html" %}
{% block title %}Добавление сообщения прошло успешно{% endblock %}
{% block content %}
<p>Вы поместили сообщение в защищённый раздел. Подождите, пока ваше сообщение проверят.</p>
<p>Пожалуйста, проверьте своё сообщение и работоспособность ссылок в нём в <a href="/view-all.jsp">буфере неподтверждённых сообщений</a>.</p>
<p><a href="{{ topic_url }}">Перейти к сообщению</a></p>
<p><b>Пожалуйста, не нажимайте кнопку Reload браузера на этой странице и не возвращайтесь на неё кнопкой Back.</b></p>
{% endblock %}
