{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% match preview_html %}{% when Some with (html) %}<h1>Предпросмотр</h1><div class="messages"><article class="msg"><div class="msg-container"><div class="msg_body">{% for image in uploaded_images %}<img class="topic-upload-preview" src="/gallery/preview/{{ image }}" alt="Предпросмотр изображения">{% endfor %}<div class="msg-text">{{ html|safe }}</div></div></div></article></div>{% when None %}{% endmatch %}
<h1>{{ title }}</h1>
{% match add_info_html %}{% when Some with (html) %}{{ html|safe }}{% when None %}{% endmatch %}
<form method="post" action="{{ action }}" id="messageForm"{% if image_allowed %} enctype="multipart/form-data"{% endif %}>
  <input type="hidden" name="csrf" value="{{ csrf_token }}">
  {% match form_error %}{% when Some with (error) %}<div class="error">{{ error }}</div>{% when None %}{% endmatch %}
  {% match topic_limit_error %}{% when Some with (error) %}<div class="error">{{ error }}</div>{% when None %}{% endmatch %}
  {% match topic_limit_info %}{% when Some with (info) %}<div class="infoblock">{{ info }}</div>{% when None %}{% endmatch %}
  <input type="hidden" name="noinfo" value="{% if noinfo %}true{% else %}false{% endif %}">
  {% match topic_id %}{% when Some with (id) %}<input type="hidden" name="msgid" value="{{ id }}">{% when None %}{% endmatch %}
  {% if !is_edit %}<input type="hidden" name="group" value="{{ selected_group }}">{% endif %}
  {% if anonymous_form %}
  <div class="control-group">
    <label for="nick">Имя</label>
    <input id="nick" name="nick" type="text" required value="{{ form_nick }}">
  </div>
  <div class="control-group">
    <label for="password">Пароль</label>
    <input id="password" name="password" type="password">
  </div>
  {% endif %}
  <div class="control-group">
    <label for="title">Заглавие</label>
    <input id="title" name="title" type="text" required{% if !is_edit %} autofocus{% endif %} value="{{ form_title }}">
  </div>
  {% if require_captcha %}
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  <div class="h-captcha" data-sitekey="{{ captcha_site_key }}"></div>
  {% endif %}
  {% if poll_allowed %}
    <br>
    {% if is_edit %}
      {% for (vid, label) in poll_variants %}<label>Вариант #{{ loop.index0 }}: <input name="poll[{{ vid }}]" size="40" value="{{ label }}"></label><br>{% endfor %}
      {% for label in poll_new_rows %}<label>Новый #{{ loop.index0 }}: <input name="newPoll[{{ loop.index0 }}]" size="40" value="{{ label }}"></label><br>{% endfor %}
      <label>Мультивыбор: <input type="checkbox" name="multiselect"{% if poll_multiselect %} checked{% endif %}></label><br>
    {% else %}
      {% for label in poll_new_rows %}<label>Вариант #{{ loop.index0 }}: <input name="poll[{{ loop.index0 }}]" size="40" value="{{ label }}"></label>{% endfor %}
      <p><label>Мультивыбор: <input type="checkbox" name="multiSelect"{% if poll_multiselect %} checked{% endif %}></label></p>
    {% endif %}
  {% endif %}
  {% if show_allow_anonymous %}
  <div class="control-group">
    <label><input type="checkbox" name="allowAnonymous" value="true"{% if allow_anonymous %} checked{% endif %}> разрешить анонимные комментарии</label>
  </div>
  {% endif %}
  <div class="control-group" data-format-mode="{{ format_mode }}">
    <div class="markup-tabs">
      <ul class="markup-tabs__nav"><li class="markup-tabs__tab active" data-tab="editor">{{ format_mode_title }}</li></ul>
      <div class="markup-tabs__content"><div class="markup-tabs__panel active" data-panel="editor">
        <textarea name="msg" id="form_msg">{{ form_msg }}</textarea>
      </div></div>
    </div>
    <div class="help-block">
      {% if format_mode == "lorcode" %}<b>Внимание:</b> прочитайте описание разметки <a href="/help/lorcode.md" target="_blank">LORCODE</a>.{% endif %}
      {% if format_mode == "markdown" %}<b>Внимание:</b> прочитайте описание разметки <a target="_blank" href="/help/markdown.md">Markdown</a>.{% endif %}
      Обратите внимание на то, как <a target="_blank" href="/forum/linux-org-ru/15431459">правильно копировать вывод терминала</a>.
    </div>
  </div>
  {% if links_allowed %}
  <div class="control-group">
    <label for="linktext">Текст ссылки</label>
    <input id="linktext" name="linktext" value="{{ form_linktext }}">
  </div>
  <div class="control-group">
    <label for="url">Ссылка (не забудьте <b>https://</b>)</label>
    <input id="url" name="url" type="url" placeholder="https://" value="{{ form_url }}">
  </div>
  {% endif %}
  <div class="control-group">
    <label for="tags"><a href="/tags" target="_blank">Метки</a> (разделенные запятой, не более 5{% if !premoderated %}; в заголовке будет показано не более 3{% endif %})</label>
    <input id="tags" name="tags" type="text" required autocapitalize="off" data-tags-autocomplete="data-tags-autocomplete" value="{{ form_tags }}">
  </div>
  {% if image_allowed %}
  {% for image in uploaded_images %}<input type="hidden" name="uploadedImages[{{ loop.index0 }}]" value="{{ image }}">{% endfor %}
  <div class="control-group"><label for="image">{% if is_edit %}Добавить изображение:{% else %}Изображение:{% endif %} <input id="image" type="file" name="images" accept=".jpg,.jpeg,.png,.gif,image/jpeg,image/png,image/gif"{% if image_required && !is_edit && uploaded_images.is_empty() %} required{% endif %}></label></div>
  {% if additional_image_rows.len() > 0 %}<div class="control-group">{% for _ in additional_image_rows %}<label>Дополнительное изображение #{{ loop.index0 }}: <input type="file" name="images" accept=".jpg,.jpeg,.png,.gif,image/jpeg,image/png,image/gif"></label>{% endfor %}</div>{% endif %}
  {% endif %}
  <div class="form-actions">
    {% if !is_edit && !topic_posting_allowed %}<a class="btn btn-primary disabled" title="{{ topic_posting_reason }}">Поместить</a>{% else %}<button type="submit" class="btn btn-primary">{% if is_edit %}Отредактировать{% else %}Поместить{% endif %}</button>{% endif %}
    <button type="submit" name="preview" class="btn btn-default">Предпросмотр</button>
    {% if !is_edit && !anonymous_form %}<button type="submit" name="draft" class="btn btn-default">Сохранить в черновики</button>{% endif %}
  </div>
</form>
{% if image_allowed %}<p>Технические требования к изображению:</p><ul><li>Ширина x Высота: от 400x400 до 5120x5120 пикселей</li><li>Тип: jpeg, gif, png</li><li>Размер не более 8142 Kb</li></ul>{% endif %}
{% endblock %}
