{% extends "base.html" %}
{% block title %}Пользователь {{ sNick }} забанен.{% endblock %}
{% block content %}
<div id="warning-body">
  <div id="warning-logo"><img src="/img/good-penguin.png" alt="good-penguin"></div>
  <div id="warning-text">
    <h1>Пользователь {{ sNick }} забанен.</h1>
    <p>К сожалению, пользователь <b>{{ sNick }}</b> не может более посещать LOR, </p>
    {% match optBanDate %}
    {% when Some with (dtBanDate) %}<p>начиная с <time data-format="default" datetime="{{ dtBanDate.to_rfc3339() }}">{{ dtBanDate }}</time>.</p>
    {% when None %}<p>причём забанен он был настолько давно, что никто уже и не помнит, когда.</p>
    {% endmatch %}
    {% match optReason %}
    {% when Some with (sReason) %}<p>Причина тому проста: <i>{{ sReason }}</i>.</p>
    {% when None %}<p>Мы не знаем, за что его забанили. Видимо, он был большой редиской.</p>
    {% endmatch %}
    <p>Мы сожалеем, правда.</p>
    <p>Вопросы, пожелания по <a href="mailto:support@sport-loto.ru">адресу</a>.</p>
  </div>
</div>
<div id="warning-footer"></div>
{% endblock %}
