{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{% if let Some(s) = section %}{{ s.name }}{% else %}{{ title }}{% endif %}</h1>

<nav>
  {% if let Some(s) = section %}
    <a class="btn btn-default" href="/{{ s.section_prefix }}/">Лента</a>
    <a class="btn btn-selected" href="/view-all.jsp?section={{ s.id }}">Неподтверждённые: {{ uncommitted }}</a>
    <a class="btn btn-default" href="/{{ s.section_prefix }}/archive">Архив</a>
  {% else %}
    <a class="btn btn-selected" href="/view-all.jsp">Все: {{ uncommitted }}</a>
    {% for (s, count) in uncommitted_counts %}
      <a href="/view-all.jsp?section={{ s.id }}" class="btn btn-default">{{ s.name }}: {{ count }}</a>
    {% endfor %}
  {% endif %}

  {% if let Some(link) = add_link %}
    <a class="btn btn-primary" href="{{ link }}">Добавить</a>
  {% else %}
    <a class="btn btn-primary disabled" title="{{ add_link_reason.as_deref().unwrap_or_default() }}"><i class="icon-lock"></i> Добавить</a>
  {% endif %}
</nav>

<strong>Внимание!</strong> Cообщения отображаются точно так же, как
они будут выглядеть на главной странице. Если ваше сообщение отображается не так, как вы хотели, или
в нем не работают какие-либо ссылки, пожалуйста,
исправьте его.<p>
{% if show_gallery_notice %}
<strong>Внимание модераторам!</strong> Не подтверждайте сразу
много скриншотов, дайте им повисеть на главной странице.
{% endif %}

{% for t in messages %}
  {% include "news_card.html" %}
{% endfor %}

<h2>Последние удаленные неподтверждённые</h2>
<div class="forum">
  <table class="message-table" width="100%">
    <thead>
      <tr>
        <th>Заголовок</th>
        <th>Причина удаления</th>
        {% if show_dates %}
        <th>Штраф</th>
        <th>Дата</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for d in deleted_topics %}
      <tr>
        <td><a href="/view-message.jsp?msgid={{ d.msgid }}">{{ d.sTitlePlain() }}</a> ({{ d.nick }})</td>
        <td>{{ d.reason_display() }}</td>
        {% if show_dates %}
        <td>{% match d.bonus %}{% when Some with (bonus) %}{{ bonus }}{% when None %}{% endmatch %}</td>
        <td>написано <time data-format="interval" datetime="{{ d.postdate.to_rfc3339() }}">{{ d.postdate }}</time><br>удалено {% match d.deldate %}{% when Some with (deldate) %}<time data-format="interval" datetime="{{ deldate.to_rfc3339() }}">{{ deldate }}</time>{% when None %}—{% endmatch %}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
